header.header
	.container-fluid.header-inner
		.row.flex-row.align-items-center.justify-content-between
			.col.flex-col.header-logo.logo
				a.logo__link(href='/', title='интернет-агентство AlbaWeb', rel='home')
					img(src='static/img/logo-light.png', class='header-logo-light' alt='logo')
					img(src='static/img/logo-dark.png', class='header-logo-dark' alt='logo')
			.col.flex-col.text-right
				button.menu-btn