footer.footer.dark
	.container
		.row
			.col-12.col-sm-6.col-lg-3.footer-copy
				.col-inner
					p
						| ООО "СИТИ-ПРЕСС" 2020
					p
						a(href='privacy-policy.html')
							| Политика конфиденциальности
			.col-12.col-sm-6.col-lg-3
				p
					a(href='tel:+7(383)399-00-03') +7(383)399-00-03
				p
					a(href='mailto:office@city-press.ru') office@city-press.ru
				p
					| г.Новосибирск, ул.Сухарная,
					br
					| д. 35 корпус 11/1, 4 этаж
			.col-12.col-sm-5.col-lg-3
				.footer-submenu
					.footer-submenu__item
						ul.footer-menu
							li.footer-menu__item
								a.footer-menu__link(href='services.html') Наши услуги
							li.footer-menu__item
								a.footer-menu__link(href='clients.html') Клиентам
							li.footer-menu__item
								a.footer-menu__link(href='about.html') О компании
							li.footer-menu__item
								a.footer-menu__link(href='park.html') Оборудование
					.footer-submenu__item
						ul.footer-menu
							li.footer-menu__item
								a.footer-menu__link(href='news.html') Новости
							li.footer-menu__item
								a.footer-menu__link(href='contacts.html') Контакты
							li.footer-menu__item
								a.footer-menu__link(href='ecology.html') Экологическая безопасность
			.col-12.col-sm-7.col-lg-3.text-right
				button.button.is-outline.button--popup(data-popup='calc')
					| Заказать расчет
			.col-12.footer-author
				p
					a.footer-author__link(href='http://albaweb.ru/' target='_blank')
						span Создание сайта -
						span.footer-author__name
							span
								|  AlbaWeb
							img(src='static/img/svg/alba.svg', alt='albaweb')
