//- Menu start
#menu.menu-wrap.dark
	.menu
		.menu__item
			nav.menu-nav
				include navbar
		.menu__item
			button.button.is-outline.button--popup(data-popup="calc")
				| Заказать расчет
	button.menu-btn--close
		i.ti-close
//- Menu end