ul.nav-menu.justify-content-center
	li.nav-menu__item.active
		a.nav-menu__link(href='services.html')
			span Услуги
	li.nav-menu__item
		a.nav-menu__link(href='clients.html')
			span Клиентам
	li.nav-menu__item
		a.nav-menu__link(href='about.html')
			span О компании
	li.nav-menu__item
		a.nav-menu__link(href='park.html')
			span Оборудование
	li.nav-menu__item
		a.nav-menu__link(href='news.html')
			span Новости
	li.nav-menu__item
		a.nav-menu__link(href='ecology.html')
			span Экологическая безопасность
	li.nav-menu__item
		a.nav-menu__link(href='contacts.html')
			span Контакты
