.page-nav
	a.page-nav__btn.page-nav__btn--prev.disabled(href='javascript:void(0)')
		span Пред.
	span.page-nav__number.current 1
	a.page-nav__number(href='javascript:void(0)') 2
	a.page-nav__number(href='javascript:void(0)') 3
	span.page-nav__number.etc ...
	a.page-nav__number(href='javascript:void(0)') 9
	a.page-nav__btn.page-nav__btn--next(href='javascript:void(0)')
		span След.