section.section
	.container
		.row
			.col-12
				h2 Этапы работы
			.col-12
				.col-inner(style='max-width: 38.75em')
					p
						| Мы стремимся сделать процесс нашей работы понятным и прозрачным для клиента, даже если он не разбирается в тонкостях типографского дела. Для вашего удобства мы разбили работу над проектом на простые этапы:
	.container-fluid
		.stages-slider-wrap.stages
			.stages-slider.mb
				.stages-slider__item.stages-card.dark
					+bg('', '#2D2DFE')
					.stages-card__info
						h3.stages-card__title
							| Формируем
							br
							| техническое задание
						p
							| Мы получаем ваш бриф, где подробно изложены цель и идея будущего проекта. В правильно составленном ТЗ перечисляются все требования по техническим параметрам, необходимым материалам, особенностям декора и отделки. Все работы будут выполняться и приниматься в соответствии с положениями технического задания.
					.stages-card__img.image-cover
						img(src='static/img/stages-1.jpg', alt='stages-1')
				.stages-slider__item.stages-card.dark
					+bg('', '#C42125')
					.stages-card__info
						h3.stages-card__title
							| Согласуем
							br
							| материалы
						p
							| Мы проводим обсуждение, во время которого подбираем материалы, оптимально подходящие для выполнения вашей задачи. Картон, бумага, пластиковые окошки, элементы декора и другие материалы, необходимые для создания качественной картонной тары, будут подробно обсуждаться. Так мы подберем составляющие, которые позволят создать красивую, прочную, практичную и визуально привлекательную упаковку.
					.stages-card__img.image-cover
						img(src='static/img/stages-2.jpg', alt='stages-2')
				.stages-slider__item.stages-card
					+bg('', '#EDA915')
					.stages-card__info
						h3.stages-card__title
							| Разработаем и согласуем
							br
							| чертеж (макет)
						p
							| Конструктор нашей типографии разработает макет в точном соответствии с вашими пожеланиями и вырежет модель для примера, с соблюдением указанных параметров. Мы можем предложить несколько вариантов на выбор. Если у вас возникнут пожелания по корректировке формы и размеров – мы примем их в разработку.
					.stages-card__img.image-cover
						img(src='static/img/stages-3.jpg', alt='stages-3')
				.stages-slider__item.stages-card.dark
					+bg('', '#C42125')
					.stages-card__info
						h3.stages-card__title
							| Заключим договор
							br
							| и согласуем спецификации
						p
							| Чтобы обезопасить обе стороны на юридическом уровне, мы подкрепим обязательства документально. Наши юристы предоставят типовую форму договора и особого документа для типографии – спецификации.
					.stages-card__img.image-cover
						img(src='static/img/stages-4.jpg', alt='stages-4')
				.stages-slider__item.stages-card
					+bg('', '#06A77D')
					.stages-card__info
						h3.stages-card__title
							| Работаем над дизайном
							br
							| и тестируем адаптацию
						p
							| Если у вас уже есть готовый дизайн, то мы можем предложить решения, которые сделают его более качественным. Также наши дизайнеры могут создать его с нуля. Перед передачей чертежа мы составим указания, касающиеся процесса наложения краски, особенностей типографики, конгрева и т.д. Мы протестируем, как проходит адаптация упаковки к возможностям технического оснащения нашей типографии и производства заказчика.
					.stages-card__img.image-cover
						img(src='static/img/stages-5.jpg', alt='stages-5')
				.stages-slider__item.stages-card.dark
					+bg('', '#2D2DFE')
					.stages-card__info
						h3.stages-card__title
							| Проверим передачу цвета
							br
							| и адаптацию к материалам
						p
							| Поскольку точность воспроизведения цвета зависит от большого количества естественных и технологических факторов, важно провести проверку. Когда согласован макет, выполненный в CMYK, делается цветопроба, чтобы выяснить, как макет сочетается с выбранными материалами. Если применялась система Pantone, то будет проведена выкраска.
					.stages-card__img.image-cover
						img(src='static/img/stages-6.jpg', alt='stages-6')
				.stages-slider__item.stages-card.dark
					+bg('', '#C42125')
					.stages-card__info
						h3.stages-card__title
							| Согласуем
							br
							| тестовый образец
						p
							| Если дальнейшее изготовление планируется на автоматических линиях заказчика, мы выпускаем тестовую партию картонных коробок. После их одобрения можно начинать промышленный выпуск тиража. При отказе от тестирования мы проводим согласование плоттерного образца сразу из тиражного материала.
					.stages-card__img.image-cover
						img(src='static/img/stages-7.jpg', alt='stages-7')
				.stages-slider__item.stages-card
					+bg('', '#EDA915')
					.stages-card__info
						h3.stages-card__title
							| Закажем
							br
							| необходимые материалы
						p
							| Мы подбираем способ раскладки упаковок на картонном листе и определяем, какой формат оптимально подойдет. Далее направляем заказ в отдел закупок. На складе есть обширные запасы материалов, но если у вас спецформат, для которого требуются нестандартные расходники, мы обратимся к поставщику. Такой вариант может потребовать дополнительного времени.
					.stages-card__img.image-cover
						img(src='static/img/stages-8.jpg', alt='stages-8')
				.stages-slider__item.stages-card
					+bg('', '#06A77D')
					.stages-card__info
						h3.stages-card__title
							| Изготовим индивидуальный
							br
							| штамп и клише
						p
							| После согласования всех документов мы заказываем специальный штамп для вырубки коробки по заданным параметрам, а также типографский шаблон (клише) для серийной печати оттисков текста и иллюстраций. Изготовление данной постпечатной оснастки потребует определенного времени: срок зависит от сложности этих изделий.
					.stages-card__img.image-cover
						img(src='static/img/stages-9.jpg', alt='stages-9')
				.stages-slider__item.stages-card.dark
					+bg('', '#C42125')
					.stages-card__info
						h3.stages-card__title
							| Запускаем макет
							br
							| в промышленное производство
						p
							| Когда штамп и печатная форма получены, документы и спецификация согласованы, то можно отправлять заказ в печать. Мы занимаемся промышленным изготовлением картонной упаковки, и если вы хотите сделать заказ или узнать подробности – свяжитесь с нами по телефону или электронной почте.
					.stages-card__img.image-cover
						img(src='static/img/stages-10.jpg', alt='stages-10')
			.container.stages-slider__prompt
				p
					img(src='static/img/svg/tap.svg', alt='tap')
					span Зажми и тяни налево