.outline-text{
	font-family: 'Istok Web', sans-serif;
	font-size: 3.75em;
	&__item{
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: currentColor;
	}
}