.stages-slider{
	display: flex;
	cursor: grab;
	&:active{
		cursor: grabbing;
	}
	&__item{
		width: 100%;
		flex: none;
		max-width: 65.4em;
		min-height: 19vw;
	}
	&__prompt{
		img{
			margin-right: .8em;
		}
	}
}