extends template/main
block variables
	- var light = 'light';

block header
	+header()

block main
	section.section.pb-0
		.container
			.row
				.col-12.mb--large
					h1 Экологическая безопасность
			.row.align-items-center
				.col-12.col-lg-6
					p
						| ООО Типография «Сити-Пресс» является крупнейшей за Уралом и входит в число лидеров печатной отрасли по РФ и СНГ, реализуя полный цикл изготовления картонной тары с последующей постпечатной обработкой. Для изготовления продукции мы используем картон, созданный из контролируемой древесины. То есть леса, которые вырублены для получения сырья, восстанавливаются. Остановив выбор на нашей типографии, вы можете быть уверены, что позаботитесь об окружающей среде, а вырубка лесов не будет бесконтрольной.
					p
						| ООО Типография «Сити-Пресс» серьезно относится к своей репутации предприятия с высокой социальной ответственностью и планирует сохранять этот статус. Поэтому мы всегда готовы к диалогу с организациями, занимающимися охраной окружающей среды и рациональным природопользованием.
					p
						| При разработке экологической политики мы опирались на соответствующие законы и нормативные правовые акты РФ, а также принимали в расчет международные конвенции и соглашения. В полученном документе мы объединили положения, касающиеся сохранения окружающей среды, развития производства и социальной сферы.
					p
						| Наши главные приоритеты – забота о состоянии окр.среды, грамотное природопользование и сохранение природных ресурсов для будущих поколений, а также экологическая безопасность.
				.col-12.col-lg-6.text-right
					img(src='static/img/eco-1.png', alt='eco-1')
	section.section.pb-0
		.container
			.row.align-items-center
				.col-12.col-lg-6
					img(src='static/img/eco-2.png', alt='eco-2')
				.col-12.col-lg-6.order-first.order-lg-last.pb-0
					.row
						.col-12.mb--large
							h2
								| Базовые положения экологической политики
						.col-12.list--colored
							ul
								li
									p Запланированное регулярное уменьшение воздействия, происходящего во время протекания технологических процессов, которое могло бы негативно сказаться на окружающей среде. Привлечение инновационных технологий, гарантированно снижающих экологические риски.
								li
									p Нацеленность на современные отечественные и международные нормы, позволяющие добиться оптимальных показателей промышленной и экологической безопасности.
								li
									p Применение инновационных технологий, не наносящих вреда окружающей среде и направленных на сбережение природных ресурсов.
								li
									p Постоянное снижение уровня негативного воздействия, появляющегося в результате протекания технологических процессов, благодаря применению технологий нового поколения.
								li
									p Ориентация на современные международные нормы и требования, которые позволяют добиться необходимого уровня промышленной и экологической безопасности.
								li
									p Бережное отношение к ресурсам, которые будут расходоваться экономично, благодаря применению новых технологий, нацеленных на сбережение природного сырья.
								li
									p Строгий контроль на производстве, направленный на соблюдение как промышленных, так и экологических норм.
								li
									p Комплексное наблюдение за состоянием окр. среды.
								li
									p Регулярная работа над улучшением результатов деятельности по охране окружающей среды и контроль за выполнением правил, прописанных в экологической политике.
								li
									p Организация обучения для работников компании с целью повышения уровня компетентности по вопросам экономии природных ресурсов и защиты окружающей среды.
								li
									p Открытое предоставление информации, касающейся деятельности компании, направленной на сохранение природных ресурсов.
								li
									p Отказ от использования озоноразрущающих веществ на производстве.
	section.section
		.container
			.row.align-items-center
				.col-12.col-lg-6.pb-0
					.row
						.col-12.mb--large
							h2
								| Обязательства компании
						.col-12.list--colored
							p
								| Чтобы базовые положения экологической политики соблюдались в полном объеме, ООО Типография «Сити-Пресс» принимает на себя нижеперечисленные обязательства:
							ul
								li
									p Неукоснительно соблюдать предписания законодательства РФ, направленные на защиту природы, брать на себя ответственность за санитарно-эпидемиологическую безопасность и четко следовать базовым положениям экологической политики.
								li
									p Работать над повышением уровня качества деятельности по охране природы и операциям по руководству данной деятельностью.
								li
									p Регулярно проводить работы по улучшению состояния экологической и промышленной безопасности на производстве.
								li
									p Следить за энергоэффективностью процессов, протекающих на производстве, включая все их стадии.
								li
									p Уменьшить воздействие, негативно сказывающееся на состоянии окружающей среды, и работать над рациональным использованием природных ресурсов.
								li
									p Применять технологии и специальные меры, способствующие сохранению климата.
								li
									p Создать условия и мероприятия, позволяющие работникам типографии получать как профессиональное, так и экологическое образование.
								li
									p Сделать информацию, касающуюся хозяйственной деятельности компании и мероприятий, направленных на защиту природы, открытой и доступной.
								li
									p Познакомить всех работников типографии с настоящими положениями экологической политики.
							p
								| Экологическая политика принимается в расчет при составлении стратегии развития организации и планировании мероприятий, направленных на сохранение природных ресурсов и защиту окружающей среды.
							p
								| Данные положения могут быть пересмотрены и изменены при корректировке приоритетов развития компании.
				.col-12.col-lg-6.text-right
					img(src='static/img/eco-3.png', alt='eco-3')

block footer
	include modules/footer
	include modules/popups
	include modules/menu
