extends template/main
block variables
	- var light = 'light';

block header
	+header()

block main
	section.section
		.container
			.row
				.col-12.mb--large
					h1 Новости
			.row.mb-negative
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img.jpg', alt='post-img')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Типография "СИТИ-ПРЕСС" приобрела KBA RAPIDA 105
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img-2.jpg', alt='post-img-2')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Предприятия региона обеспечивают упаковкой производителей бакалеи и фармацевтики
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img-3.jpg', alt='post-img-3')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Новосибирская типография «Сити Пресс» расширяет парк оборудования
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img.jpg', alt='post-img')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Типография "СИТИ-ПРЕСС" приобрела KBA RAPIDA 105
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img-2.jpg', alt='post-img-2')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Предприятия региона обеспечивают упаковкой производителей бакалеи и фармацевтики
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img-3.jpg', alt='post-img-3')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Новосибирская типография «Сити Пресс» расширяет парк оборудования
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img.jpg', alt='post-img')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Типография "СИТИ-ПРЕСС" приобрела KBA RAPIDA 105
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img-2.jpg', alt='post-img-2')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Предприятия региона обеспечивают упаковкой производителей бакалеи и фармацевтики
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
				.col-12.col-sm-6.col-lg-4.post-item.post-item--alt.mb
					a(href='post.html')
						.post-item-box
							.post-item__img.image-cover
								img(src='static/img/post-img-3.jpg', alt='post-img-3')
							.post-item__date
								p 15.01.2021
							.post-item__title
								h4 Новосибирская типография «Сити Пресс» расширяет парк оборудования
							.post-item__excerpt
								p
									| «КБА РУС» заключила договор на поставку листовой офсетной печатной машины KBA Rapida 105-5+L SAPC ALV2 в новосибирскую типографию "Сити-Пресс". Информация об этом появилась на официальной...
							span.button.is-outline
								| Подробнее
			include modules/page-nav

block footer
	include modules/footer
	include modules/popups
	include modules/menu
