extends template/main
block variables
	- var light = 'light';

block header
	+header()

block main
	section.section
		.container
			.row
				.col-12.post-wrap.col--center
					.col-inner
						.post__title.mb--large
							h1.h2
								| Машина YOCO SM1080TR для разделения изделий после вырубки будет инсталлирована в Новосибирске
						.post__date.mb--large
							p
								| 15.01.2021
						.post-slider__wrap.mb
							.post-slider.mb--half
								.post-slider__img
									img(src='static/img/post-slide-1.jpg', alt='post-slide-1')
								.post-slider__img
									img(src='static/img/post-slide-2.jpg', alt='post-slide-1')
								.post-slider__img
									img(src='static/img/post-slide-1.jpg', alt='post-slide-1')
								.post-slider__img
									img(src='static/img/post-slide-1.jpg', alt='post-slide-1')
								.post-slider__img
									img(src='static/img/post-slide-2.jpg', alt='post-slide-1')
								.post-slider__img
									img(src='static/img/post-slide-1.jpg', alt='post-slide-1')
								.post-slider__img
									img(src='static/img/post-slide-2.jpg', alt='post-slide-1')
								.post-slider__img
									img(src='static/img/post-slide-1.jpg', alt='post-slide-1')
							.slider-nav
						.post__content
							p
								| Компания ТЕРРА СИСТЕМЫ объявляет о заключении контракта на поставку очередной роботизированной машины YOCO SM1080TR для разделения заготовок после высечки. Инсталляция запланирована на начало 2021 года в типографии Сити Пресс (г. Новосибирск).
							p
								| Типография «Сити Пресс» была основана два десятка лет назад и на сегодняшний день является крупной региональной типографией полного цикла, изготавливающей разнообразную листовую и многостраничную печатную продукцию. В последнее время типография начала также расширять свой ассортимент услуг в упаковке и этикетке. Предприятие вооружено большим парком оборудования для производства картонной упаковки, включая две офсетные печатные машины и более десятка единиц разнообразного послепечатного оборудования.
							p
								| «Сити Пресс» – это гарантия качества на всех технологических этапах производства: от цветопроб и объемных макетов, процесса производства и групповой упаковки готовой продукции до доставки в любую точку России.
							p
								| Робот YOCO SM1080TR позволяет в автоматическом режиме разделять заготовки, расположенные даже под углом 180 градусов и близко друг к другу. От оператора требуется лишь запрограммировать данную машину под требуемую задачу с помощью сенсорного монитора и принимать готовую продукцию с конвейера, на который изделия выкладываются автоматическим съемником. Машина способна производить до 25 рабочих циклов/мин., отделяя стопки готовой продукции высотой до 110 мм.
							p
								| По словам руководителя типографии Родиона Сидорова: «Мы активно движемся в сторону автоматизации своих производственных процессов и пришли к выводу, что роботизированная машина YOCO SM1080TR отвечает всем нашим требованиям и задачам. Наше сотрудничество с компанией «Терра Системы» продолжается уже долгие годы и мы благодарим их за прекрасное оборудование и интересные партнёрские условия».
							p
								| По словам генерального директора «Терра Системы» Стефана Валуйского: «Мы очень давно работаем с типографией «Сити-Пресс». После достаточно предметных консультаций и переговоров мы смогли предоставить руководству типографии наиболее приемлемые для них финансовые условия в кризисный период. Мне хотелось бы также отметить, что автоматизированные машины для разделения заготовок YOCO SM за последние несколько лет превратились в бестселлер среди российских производителей картонной упаковки и по большому счету не имеют серьезных альтернатив на сегодняшний день. Мои поздравления коллегам из Новосибирска!».
							p
								| Компания «ТЕРРА СИСТЕМЫ» – эксклюзивный поставщик оборудования для производства картонной упаковки Shanghai Yoco Printing Machinery в России.


block footer
	include modules/footer
	include modules/popups
	include modules/menu
