// Colors
$primary-color: #C42125;
$green-color: #06A77D;
$blue-color: #2D2DFE;
$orange-color: #EDA915;
$dark: #100F0F;
$light: #fff;
$grey: #413F3F;

// Sizes
$base-font-size: 16px;
$content-size: 81.25vw;