meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Favicon
link(rel='shortcut icon', href='static/img/favicon.png', type='image/png')
title ООО "СИТИ-ПРЕСС"
// Bootstrap Grid CSS
link(href='static/css/bootstrap-grid.min.css', rel='stylesheet')
// Reset CSS
link(rel='stylesheet', href='static/css/reset.css')
// Photoswipe
link(rel='stylesheet', href='static/css/photoswipe/photoswipe.css')
link(rel='stylesheet', href='static/css/photoswipe/default-skin/default-skin.css')
// Slick Slider
link(rel='stylesheet', type='text/css', href='static/css/slick/slick.css')
link(rel='stylesheet', type='text/css', href='static/css/slick/slick-theme.css')
// User Style
link(rel='stylesheet', href='static/css/styles.min.css')